.slider-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: wheat;
    position: relative;
    overflow-y: hidden;
    margin: auto;
    z-index: 0;
}

.info{
    width: 300px;
    height: 400px;
    text-align: center;
}

.info h2{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;

}
.info p{
    font-size: 2rem;
}

.info .sp-1{
    font-size: 6rem;
    font-family: var(--optional1_font);
    line-height: 90px;
}

.info .sp-2{
    letter-spacing: 40px;
}

.info .sp-3{
    display: block;
    position: absolute;
    font-size: 12rem;
    font-weight: bold;
    font-family: var(--optional2_font);
    transform: rotate(-20deg);
    top: 210px;
    left: 80px;
    color: var(--optional1_color);
}

.info .site-url{
    background-color: var(--dark_background);
    color: var(--light_font_color);
    margin-top: 8rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 7px;

}

.discount-square{
    width: 270px;
    height: auto;
    border: 2px solid var(--dark_background);

}

.discount-square p{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 2px solid var(--dark_background);
    padding: 1rem;

}

.discount-square .sp-1{
    font-size: 3rem;
}

.discount-square p:last-child{
    text-align: center;
}

.discount-square  .sp-2{
    font-size: 5rem;
    text-align: center;
}

.image-reference{
    width: 480px;
    height: 480px;
    background-color:var(--optional1_color);
    ;
    border-radius: 100%;
}

.image-reference img{
    transform: scale(1.1);
    position: absolute;
    width: 630px;
    height: 570px;
    top:0;
    right: 2rem;
    z-index: 1;
}

@media only screen 
   and (min-width : 2500px) {
    .slider-container{
        width: 100%;
        height: 60vh;
        
    }
    .info{
        width: 500px;
        height: 600px;
    }
    
    .info h2{
        font-size: 3rem;
        margin-bottom: 50px;
    }
   
    .info .sp-1{
        font-size: 8rem;
        line-height: 110px;
    }
    
    .info .sp-2{
        letter-spacing: 80px;
    }
    
    .info .sp-3{
        font-size: 15.5rem;
        top: 240px;
        left: 250px;
    }
    
    .info .site-url{
        margin-top: 9rem;
        padding: 0.5rem;
        font-size: 2rem;    
    }
    
    .discount-square{
        width: 470px;
        border: 3px solid var(--dark_background);
    }
    
    .discount-square p{
        font-size: 4rem;
        border: 3px solid var(--dark_background);
        padding: 3rem;
    
    }
    
    .discount-square .sp-1{
        font-size: 5rem;
    }
    
    
    
    .discount-square  .sp-2{
        font-size: 5rem;
    }
    
    .image-reference{
        width: 780px;
        height: 780px;
    }
    
    .image-reference img{
        transform: scale(1.3);
        position: absolute;
        width:730px;
        height: 670px;
        top:5rem;
        right: 15rem;
        z-index: 1;
    }
}

@media (max-width: 767px){


    .info{
        width: 200px;
        height: 300px;
        text-align: center;
    }
    
    .info h2{
        font-size: 1rem;
        margin-bottom: 10px;
    
    }
    .info p{
        font-size: 1rem;
        margin-top: 1rem;
    }
    
    .info .sp-1{
        font-size: 4rem;
        font-family: var(--optional1_font);
        line-height: 70px;
        
    }
    
    .info .sp-2{
        letter-spacing: 25px;
    }
    
    .info .sp-3{
        display: block;
        position: absolute;
        font-size: 7.5rem;
        font-weight: bold;
        font-family: var(--optional2_font);
        transform: rotate(-20deg);
        top: 210px;
        left: 80px;
        color: var(--optional1_color);
    }
    
    .info .site-url{
        background-color: var(--dark_background);
        color: var(--light_font_color);
        margin-top: 3rem;
        padding: 0.5rem;
        font-size: 0.5rem;
        font-weight: bold;
        letter-spacing: 7px;
    
    }

    .discount-square{
        width: 170px;
    }

    .discount-square p{
        font-size: 1rem;
        border: 3px solid var(--dark_background);
    
    }
    
    .discount-square .sp-1{
        font-size: 1.5rem;
    }
    
    
    
    .discount-square  .sp-2{
        font-size: 1.5rem;
    }

    .image-reference{
        display: none;
     }
  
}