.main-wrapper{
    width: 100%;
    height: 60px;
    background-color: var(--light_background);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--main_font_color);
    z-index: 1;
}

.main-logo{
    text-transform: uppercase;
    
}

.search-wrapper{
    width: 400px;
    height: 2rem;
}
.search-wrapper form{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
}

form input[type=text]{
    width: 90%;
    height: inherit;
    border: none;
    padding-left: 1rem;
    font-family: var(--main_font);
    outline: none;
    background-color: #f0f0f0;
}
form button{
    width: 10%;
    height: 2rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #c9c9c9;
}

i{
    font-size: 1.3rem;
    color: var(--main_font_color)
}


.search_cartlogin-wrapper{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.cart_login-wrapper{
    width: 250px;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form input[type=submit]{
    padding: 7px 12px;
    border: 1px solid var(--border_color);
    background-color: var(--light_background);
    font-family: var(--main_font);
    cursor: pointer;
    outline: none;
}


.burger{
    display: none;
}

@media (max-width: 767px){
    .main-wrapper{
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    .main-logo{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px;
        margin-left: 12rem;
    }


    .burger{
        display: inline;
        z-index: 10;
        margin: 0 2rem 0 2.5rem;
    }

    .search_cartlogin-wrapper{
        flex-direction: column;
        align-items: center;
    }

    
    .cart_login-wrapper > .fa-user, input[type=submit]{
        display: none;
    }

    .cart_login-wrapper > .fa-shopping-cart {
        position: absolute;
        top: 1.2rem;
        right: 52px;
        font-size: 1.6rem;
    }
    
}